extends layout

block content
  h1= "Voting platform"
  h2 Sign in
  form(action="login", method="post")
    input(type="email" name="email" placeholder="Email" required)
    input(type="password" name="password" placeholder="Password" required)
    button Submit
  ul
    li
      a(href="/signup") signup
