extends ../layout

block content
  h1= "Voting platform"
  h2= "Create Vote"
  form(action="/votings/new" method="post")
    input(type="text" name="title" placeholder="Title" required)
    input(type="datetime-local" name="expiredAt" placeholder="ExpiredAt" required)
    div(class="add-option-wrapper")
      input(type="text" placeholder="Option" class="input-option")
      button(type="button" class="add-option-button") Add Option
      ol(name="options" class="voting-option-list")
    button= "Submit"
  a(href="/")= "목록 페이지로 이동"
  script(src="/javascripts/addOptionHandler.js")
